<td-layout-nav toolbarTitle="Tetapan Kod">

  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">

    <md-toolbar td-sidenav-content>
      <span>Tetapan</span>
    </md-toolbar>

    <md-nav-list td-sidenav-content dense>
      <a md-list-item [routerLink]="['/secure/setup/country-codes']">
        <md-icon>label</md-icon>
        Kod Negara
      </a>

      <a md-list-item [routerLink]="['/secure/setup/ethnicity-codes']">
        <md-icon>label</md-icon>
        Kod Etnik
      </a>

      <a md-list-item [routerLink]="['/secure/setup/faculty-codes']">
        <md-icon>label</md-icon>
        Kod Fakulti
      </a>

      <a md-list-item [routerLink]="['/secure/setup/gender-codes']">
        <md-icon>label</md-icon>
        Kod Jantina
      </a>

      <a md-list-item [routerLink]="['/secure/setup/grade-codes']">
        <md-icon>label</md-icon>
        Kod Gred
      </a>

      <a md-list-item [routerLink]="['/secure/setup/graduate-centers']">
        <md-icon>label</md-icon>
        Pusat Pengijazahan
      </a>

      <a md-list-item [routerLink]="['/secure/setup/language-codes']">
        <md-icon>label</md-icon>
        Kod Bahasa
      </a>

       <a md-list-item [routerLink]="['/secure/setup/marital-codes']">
        <md-icon>label</md-icon>
        Kod Status Perkahwinan
      </a>

       <a md-list-item [routerLink]="['/secure/setup/nationality-codes']">
        <md-icon>label</md-icon>
        Kod Kewarganegaraan
      </a>

      <a md-list-item [routerLink]="['/secure/setup/program-codes']">
        <md-icon>label</md-icon>
        Kod Program
      </a>

      <a md-list-item [routerLink]="['/secure/setup/race-codes']">
        <md-icon>label</md-icon>
        Kod Bangsa
      </a>

      <a md-list-item [routerLink]="['/secure/setup/religion-codes']">
        <md-icon>label</md-icon>
        Kod Agama
      </a>

      <a md-list-item [routerLink]="['/secure/setup/residency-codes']">
        <md-icon>label</md-icon>
        Kod Residen
      </a>

      <a md-list-item [routerLink]="['/secure/setup/school-codes']">
        <md-icon>label</md-icon>
        Kod Sekolah
      </a>

      <a md-list-item [routerLink]="['/secure/setup/state-codes']">
        <md-icon>label</md-icon>
        Kod Negeri
      </a>

      <a md-list-item [routerLink]="['/secure/setup/umkcee-staffs']">
        <md-icon>label</md-icon>
        Daftar Staf
      </a>

      <a md-list-item [routerLink]="['/secure/setup/study-center-codes']">
        <md-icon>label</md-icon>
        Kod Pusat Pengajian
      </a>

       <a md-list-item [routerLink]="['/secure/setup/study-modes']">
        <md-icon>label</md-icon>
        Kod Mod Pengajian
      </a>

      <a md-list-item [routerLink]="['/secure/setup/subject-codes']">
        <md-icon>label</md-icon>
        Kod Subjek
      </a>
      
      <a md-list-item [routerLink]="['/secure/setup/venue-codes']">
        <md-icon>label</md-icon>
        Kod Lokasi
      </a>

      <a md-list-item [routerLink]="['/secure/setup/employment-type-codes']">
        <md-icon>label</md-icon>
        Kod Penjawatan
      </a>

      <a md-list-item [routerLink]="['/secure/setup/employment-sector-codes']">
        <md-icon>label</md-icon>
        Kod Sektor Pekerjaan
      </a>

      <a md-list-item [routerLink]="['/secure/setup/guardian-type-codes']">
        <md-icon>label</md-icon>
        Kod Jenis Waris
      </a>

      <a md-list-item [routerLink]="['/secure/setup/spm-subject-codes']">
        <md-icon>label</md-icon>
        Kod Subjek SPM
      </a>
    </md-nav-list>

    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>{{title$ | async}}</span>
    </div>

    <router-outlet></router-outlet>
  </td-layout-manage-list>
</td-layout-nav>
