<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>EDAMS : External Education Academic Management System</span>
    <span flex></span>
  </div>

  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <template md-tab-label></template>
        <md-card-title>Pengemaskinian Kata Laluan Pemohon</md-card-title>
        <md-card-subtitle>Kata laluan baharu telah dihantar ke alamat email yang didaftarkan.</md-card-subtitle>
        <md-card-subtitle>Sila semak email bagi mendapatkan kata laluan.</md-card-subtitle>
      </div>

    </div>
    <md-card-actions>
      <button md-button color="accent" [routerLink]="['/login']">
        Log Masuk
      </button>
    </md-card-actions>
  </td-layout-card-over>
</td-layout-nav>