<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PENGESAHAN EMEL</span>
    <span flex></span>
  </div>

  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <md-card-title>PENGESAHAN TUKAR EMEL</md-card-title>
        <md-card-subtitle><b>Emel baru anda telah disahkan!</b></md-card-subtitle>
        <md-card-subtitle><b>Sila guna emel baru anda untuk log masuk</b></md-card-subtitle>
      </div>
    </div>

    <md-card-actions>
      <button md-button color="accent" [routerLink]="['/login']">
       Log Masuk
      </button>
    </md-card-actions>
