<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>EDAMS : External Education Academic Management System</span>
    <span flex></span>
  </div>
  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <md-card-title>Daftar Pemohon</md-card-title>
        <md-card-subtitle>Pendaftaran Pemohon Bagi Sistem Pengambilan</md-card-subtitle>
      </div>
    </div>
    <md-divider></md-divider>
    <div layout="column" layout-md="row" class="inset" flex>
      <form [formGroup]="registrationForm">
        <div layout="row" class="pad-bottom" flex>
          <md-input-container flex>
            <input mdInput
                   placeholder="Nama Penuh"                  
                   formControlName="name"
                   type="text"
                   flex/>
            <div class="error" class="tc-red-600"
                       *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched">Wajib!
                  </div>
          </md-input-container>
        </div>
        <div layout="row" class="pad-bottom" flex>
          <md-input-container flex>
            <input mdInput
                   placeholder="No Kad Pengenalan"
                   formControlName="identityNo"
                   type="text"
                   flex/>
            <div class="error" class="tc-red-600"
                       *ngIf="registrationForm.get('identityNo').invalid && registrationForm.get('identityNo').touched">Wajib!
                  </div>
          </md-input-container>
        </div>
        <div layout="row" class="pad-bottom" flex>
          <md-input-container flex>
            <input mdInput
                   placeholder="e-mel"
                   type="email"
                   formControlName="email"
                   flex/>

            <div class="error" class="tc-red-600"
                       *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">Sila Masukan email yang sebenar!(e.g:ali@gmail.com)
                  </div>
          </md-input-container>
        </div>
        <div layout="row" class="pad-bottom" flex>
          <md-input-container flex>
            <input mdInput
                   type="password"
                   placeholder="Kata Laluan"
                   formControlName="password"
                   flex/>
            <div class="error" class="tc-red-600"
                       *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">Wajib!
                  </div>
          </md-input-container>
        </div>

        <div layout="row" class="pad-bottom" flex>
          <md-input-container flex>
            <input mdInput
                   type="password"
                   placeholder="Sahkan Kata Laluan"
                   formControlName="confirmPassword" flex/>
            <!-- <div class="error" class="tc-red-600"  
              *ngIf="registrationForm.get('confirmPassword').invalid && createForm.get('confirmPassword').touched">>Passwords don't match!
            </div> -->
            <div class="error" class="tc-red-600"  
            *ngIf="registrationForm.get(['passwords','password']) != registrationForm.get(['passwords','confirmPassword']) && registrationForm.get(['passwords','confirmPassword']) != null">
          error </div>

          </md-input-container>
        </div>
      </form>
    </div>
    <md-divider></md-divider>
    <md-card-actions>
      <button md-raised-button color="accent" 
              (click)="register(registrationForm.value, registrationForm.valid)"
              [disabled] = "!registrationForm.valid">Daftar
      </button>
      <button md-button color="primary" [routerLink]="['/login']">Sudah Mendaftar? Log Masuk Disini!</button>
    </md-card-actions>
  </td-layout-card-over>
</td-layout-nav>
