<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>EDAMS : External Education Academic Management System</span>
    <span flex></span>
  </div>

  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <template md-tab-label></template>
        <md-card-title>Pendaftaran Pemohon</md-card-title>
        <md-card-subtitle>Satu email pengesahan telah dihantar ke alamat email yang didaftarkan.</md-card-subtitle>
        <md-card-subtitle>Sila tekan pada pautan bagi mengesahkan pendaftaran.</md-card-subtitle>
        <!--{{registration.email}}-->
        <md-card-actions>
        <button md-button color="accent" [routerLink]="['/login']">
        Log Masuk
        </button>
      </md-card-actions>
    </div>
  </div>
  </td-layout-card-over>
</td-layout-nav>
