<!-- Basic Card -->
<md-card>
  <md-card-title>Maklumat Peribadi Pemohon</md-card-title>
  <md-card-subtitle>Pilih Pemohon</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>

      <!--MULA TAB STUDENT INFORMATION-->
      <md-tab label="Maklumat Pemohon">

        <br/>

        <!--APPLICANT INFORMATION-->
        <md-card>
          <div md-content flex md-scroll-y>
            <div layout="column" layout-gt-md="row" class="insert">
              <div flex-gt-md="50">
                <md-card-title>Maklumat Pemohon</md-card-title>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <md-card-content>

            <div layout="column" layout-gt-md="row" class="insert">

              <div flex-gt-md="40">
                <b>Name</b> : {{intakeApplication.name}}<br/><br/>
                <b>No Kad Pengenalan</b> : {{intakeApplication.credentialNo}}<br/><br/>
                <b>Kewarganegaraan</b> : {{intakeApplication.nationalityCode?.descriptionMs}}<br/><br/>
                <b>Residen</b> : {{intakeApplication.residencyCode?.descriptionMs}}<br/><br/>
                <b>Etnik</b> : {{intakeApplication.ethnicityCode?.descriptionMs}} <br/><br/>
                <b>Agama</b> : {{intakeApplication.religionCode?.descriptionMs}} <br/><br/>
                <b>Emel</b> : {{intakeApplication.email}}<br/><br/>
                <b>No Telefon</b> : {{intakeApplication.phone}}<br/><br/>
                <b>No Telefon Bimbit</b> : {{intakeApplication.mobile}}<br/><br/>
                <b>No Faks</b> : {{intakeApplication.fax}}<br/><br/>
                <b>Bangsa</b> : {{intakeApplication.raceCode?.descriptionMs}}<br/><br/>
                <b>Jantina</b> : {{intakeApplication.genderCode?.descriptionMs}}<br/><br/>
                <b>Tarikh Lahir</b> : {{intakeApplication.birthDate}}<br/><br/>
                <b>Status Perkahwinan</b> : {{intakeApplication.maritalCode?.descriptionMs}}<br/><br/>
              </div>

              <div flex-gt-md="40">
                <b>Mod Pengajian</b> : {{intakeApplication.studyModeSelection?.studyMode.descriptionMs}}<br/><br/>
                <div>
                <b>Kampus Pengajian</b> : {{intakeApplication.studyCenterCode?.descriptionMs}}<br/><br/>
                </div>        
                <b>Program</b> : {{intakeApplication.programSelection?.programCode?.descriptionMs | uppercase}}<br/><br/>
                <b>Fakulti</b> : {{intakeApplication.programSelection?.programCode?.facultyCode?.descriptionMs | uppercase}}<br/><br/>
              </div>

            </div>

            <br/><br/><br/>

            <!--TAB OTHERS INFORMATION-->
            <md-tab-group>
              <md-tab label="Address">
                <!--ADDRESS INFORMATION-->
                <md-card>
                  <div md-content flex md-scroll-y>
                    <div layout="column" layout-gt-md="row" class="insert">

                      <div flex-gt-md="50">
                        <md-card-title>Maklumat Alamat</md-card-title>
                      </div>

                    </div>
                  </div>
                  <md-divider></md-divider>
                  <md-card-content>

                    <!-- Address information here -->
                    <md-tab-group>
                      <md-tab label="Alamat Surat-menyurat">
                        <div flex-gt-md="50">
                          <b>Alamat </b> : {{intakeApplication.mailingAddress1}}&nbsp;{{intakeApplication.mailingAddress2}}&nbsp;{{intakeApplication.mailingAddress3}}<br/><br/>
                          <b>Poskod</b> : {{intakeApplication.mailingPostcode}}<br/><br/>
                          <b>Negeri</b> : {{intakeApplication.mailingStateCode?.descriptionMs}}<br/><br/>
                          <b>Negara</b> : {{intakeApplication.mailingCountryCode?.descriptionMs}}
                        </div>
                      </md-tab>
                      <md-tab label="Alamat Rasmi">
                        <div flex-gt-md="50">
                          <b>Alamat </b> : {{intakeApplication.officialAddress1}}&nbsp;{{intakeApplication.officialAddress2}}&nbsp;{{intakeApplication.officialAddress3}}<br/><br/>
                          <b>Poskod</b> : {{intakeApplication.officialPostcode}}<br/><br/>
                          <b>Negeri</b> : {{intakeApplication.officialStateCode?.descriptionMs}}<br/><br/>
                          <b>Negara</b> : {{intakeApplication.officialCountryCode?.descriptionMs}}
                        </div>
                      </md-tab>
                    </md-tab-group>
                  </md-card-content>
                </md-card>
              </md-tab>
              <md-tab label="Academic">
                <!--ACADEMIC INFORMATION-->
                <md-card>
                  <div md-content flex md-scroll-y>
                    <div layout="column" layout-gt-md="row" class="insert">

                      <div flex-gt-md="50">
                        <md-card-title>Maklumat Akademik</md-card-title>
                      </div>

                    </div>
                  </div>
                  <md-divider></md-divider>
                  <md-card-content>

          <td-expansion-panel label="Keputusan">
            <pams-result-list [intakeApplication]="intakeApplication$ | async" [results]="results$ | async">
            </pams-result-list>
          </td-expansion-panel>

          <td-expansion-panel label="Bahasa">
            <pams-language-list [intakeApplication]="intakeApplication$ | async" [languages]="languages$ | async">
            </pams-language-list>
          </td-expansion-panel>

                  </md-card-content>
                </md-card>
              </md-tab>
              <md-tab label="Pengalaman Kerja">
                <!--WORKING EXPERIENCE INFORMATION-->
                <md-card>
                  <div md-content flex md-scroll-y>
                    <div layout="column" layout-gt-md="row" class="insert">
                      <div flex-gt-md="50">
                        <md-card-title>Maklumat Pengalaman Kerja</md-card-title>
                      </div>
                    </div>
                  </div>
                  <md-divider></md-divider>
                  <md-card-content>
                    <pams-employment-list [intakeApplication]="intakeApplication$ | async" [employments]="employments$ | async">
                    </pams-employment-list>
                  </md-card-content>
                </md-card>
              </md-tab>
              <md-tab label="Lampiran">
                <!--ATTACHMENT INFORMATION-->
                <md-card>
                  <div md-content flex md-scroll-y>
                    <div layout="column" layout-gt-md="row" class="insert">

                      <div flex-gt-md="50">
                        <md-card-title>Maklumat Lampiran</md-card-title>
                      </div>

                    </div>
                  </div>
                  <md-divider></md-divider>
                  <md-card-content>
                    <pams-attachment-list [intakeApplication]="intakeApplication$ | async" [attachments]="attachments$ | async">
                    </pams-attachment-list>
                  </md-card-content>
                </md-card>
              </md-tab>
            
              <md-tab label="Maklumat Kewangan">
                <!--FINANCIAL INFORMATION-->
                  <md-card-subtitle>
                    
                    <md-card-subtitle *ngIf="intakeApplication?.sponsored === true">
                    <div layout="row" layout-margin><strong>Pemohon telah mendapat biasiswa / pinjaman pengajian.</strong></div>
                    </md-card-subtitle>
                    
                    <md-card-subtitle *ngIf="intakeApplication?.selfSponsored === true">
                        <div layout="row" layout-margin><strong>Pemohon membiayai sendiri pengajian.</strong></div>
                    </md-card-subtitle>
                    
                </md-card-subtitle>
              </md-tab>
            </md-tab-group>
          </md-card-content>
        </md-card>
        <md-card *ngIf="intakeApplication.bidStatus != 'SELECTED'">
          
        <button md-raised-button color="accent" (click)="select(intakeApplication)">Pilih</button>
        <button md-raised-button color="accent" (click)="reject(intakeApplication)">Tolak</button>
        </md-card>
      </md-tab>
    </md-tab-group>

  </md-card-content>
  <md-divider></md-divider>
</md-card>