<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>EDAMS: External Education Academic Management System</span>
    <span flex></span>
  </div>

  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">
    <md-nav-list list-items dense>
      <h3 md-subheader>Pusat Tetapan Pengambilan</h3>
        <a md-list-item [routerLink]="['/secure/policy/intake-sessions']">
        <md-icon>label</md-icon> Sesi Pengambilan</a>
        <a md-list-item [routerLink]="['/secure/policy/intakes']">
        <md-icon>label</md-icon> Pengambilan</a>
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex></span>
    </div>

  </td-layout-manage-list>
</td-layout-nav>
